<style>

.navbar-pilates {
background: linear-gradient(to right, #561956 , #561956);
margin-top:-5px;
height:90px;
}
</style>



<div class="container">

<br />
<div class="row">
    <% @videos.each do |video| %>


    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path('card.jpg') %>);">
  <div class="card-category"><%= video.tag %></div>
  <div class="card-description">
    <h2>Video <%= video.id %></h2>
    <p><%= link_to video do %>
    <%= video.title %>

  <% end %></p>
  </div>

  <img class="card-user avatar" src="user.jpg">


</div>
    </div>






  <% end %>

</div>

</div>

